@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url('../../public/images/HeroPic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
@media (min-width: 1500px) {
  .lists {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
}

@media (max-width: 1500px) {
  .lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .lists {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; 
  }
}
